.course-insights{
    display: flex;
}

.instructor-container{
    text-align: center;
    display: block;
}

.instructor-avatar{
    margin: 0 auto;
    display: inline-block;
}

.graph-container{
    text-align: center;
}

