.center-components{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.block-container{
    display: block;
    text-align: center;
}

.instructor-avatar{
    margin: 0 auto;
    display: inline-block;
}